@import "./../../../../static/scss/main.scss";
.commoditySpec_content{
  @include boxStyle(1500px);
  .speci-info{
    width: 96%;
    margin: 20px auto;
    padding: 15px;
    border:1px solid orange;
    display: flex;
    .specofocation-title{
      width: 100px;
      p{
        padding: 0;
        margin: 0;
        vertical-align: top;
      }
    }
    .specofocation-info{
      width: 800px;
      border: 1px solid #cccccc;
      padding: 15px;
      .product-specification-row{
        .child-info{
          width: 160px;
          margin-top: 15px;
        }
      }
      .Specification_btn{
        .Specification_addBtn{
          width: 98%;
          padding: 5px;
          input{
            width: 80px;
            height: 40px;
            background: #ffffff;
            border:1px solid #cccccc;
            outline: none;
            @include border-radius;
          }
        }
        .Specification_input{
          width: 98%;
          height: 30px;
          padding: 5px;
          background: #eeeeee;
          margin-top: 20px;
          input{
            background: #ffffff;
            border:1px solid #cccccc;
            outline: none;
            @include border-radius;
            float: left;
            &:nth-of-type(1){
              height: 26px;
              padding: 0;
              padding-left: 10px;
            }
            &:nth-of-type(2){
              height: 28px;
              margin-left: 10px;
              background: #ec6a47;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
